<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>

	<!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
       
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>    
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />    
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"></link>
    
    <!-- Web Font CSS -->    
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu|Ubuntu+Mono"></link>
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css"></link>    

    <!-- Custom CSS -->
	<link rel="stylesheet" href="" th:href="@{/css/custom.css}"></link>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
         
	<title>layout</title>	
</head>

<body>

<!-- ### THYMELEAF FRAGMENT (TOP-MENU: BEGIN) #################### -->
<div th:replace="fragment/fragTopMenu::frag-top-textline">
	top menu area
</div>
<div th:replace="fragment/fragTopMenu::frag-top-menu">
	top menu area
</div>  
<!-- ### THYMELEAF FRAGMENT (TOP-MENU: END ) ##################### -->

<!-- ### THYMELEAF BODY FRAGMENT (BEGIN) ########################## -->
<div layout:fragment="frag-body-content" >
	layout-content-area
</div>
<!-- ### THYMELEAF BODY FRAGMENT ( END ) ########################## -->

<br/>
<br/>

<!-- ### THYMELEAF FRAGMENT (FOOTER: BEGIN) ####################### -->
<div th:replace="fragment/fragFooter::frag-footer" >
	layout-content-area
</div>
<!-- ### THYMELEAF FRAGMENT (FOOTER: END ) ######################## -->
			
</body>

</html>