<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/layoutDefault">

<head>
    <meta charset="utf-8" />       
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   
	<title>Jmate:Object</title>
</head>

<body>

<div layout:fragment="frag-body-content">
<!-- ### CONTENT (BEGIN) ####################################################### -->
<div class="container">

	<hr/>
	
	<div class="row">
		
		<div class="col-lg-2">
		
			<div class="list-group">
				<a class="list-group-item list-group-item-action list-group-item-secondary text-center">detail</a>
				<a th:href="@{/jmate/object/list}" class="list-group-item list-group-item-action">list</a>
				<a th:href="@{/jmate/object/edit/0}" class="list-group-item list-group-item-action">new</a>
				<a th:href="@{/jmate/object/edit/}+${maObject.tmObjectId}" class="list-group-item list-group-item-action">edit</a>
				<a th:href="@{/jmate/object/delete/}+${maObject.tmObjectId}" class="list-group-item list-group-item-action">delete</a>
			</div>
			
			<br/>
			
			<div class="list-group">
				<a class="list-group-item list-group-item-action list-group-item-secondary text-center">sub-setting</a>
				<a th:href="@{/jmate/srchlist/obj/}+${maObject.tmObjectId}+'/item/0'" class="list-group-item list-group-item-action">search list</a>			
			</div>
			
			
		</div><!--./col-xl-2 -->
		
		<div class="col-lg-10">
			<div class="bs-callout bs-callout-primary py-0" style="box-shadow: 2px 2px #DDDDDD;">
				<form th:object="${maObject}" th:action="@{/jmate/object/edit/}+${maObject.tmObjectId}" class="form" action="" method="post"  >				
					<table class="table">
						<thead>
							<tr>
								<th class="text-center w-25">
									item
								</th>
								<th class="text-center w-75">
									description
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-right">
									tmObjectId:
								</td>
								<td class="">
									<input type="text" class="form-control" th:field="*{tmObjectId}" readonly="true" />								
								</td>
							</tr>
							<tr>
								<td class="text-right">
									objectName:
								</td>
								<td class="">
									<input type="text" class="form-control" th:field="*{objectName}" />
								</td>
							</tr>
							<tr>
								<td class="text-right">
									baseTable:
								</td>
								<td class="">
									<input type="text" class="form-control" th:field="*{baseTable}" />
								</td>
							</tr>						
							<tr>
								<td class="text-right">
									note:
								</td>
								<td class="">
									<input type="text" class="form-control" th:field="*{note}" />
								</td>
							</tr>
							<tr>
								<td class="text-right">
									status:
								</td>
								<td class="">
									<input type="text" class="form-control" th:field="*{status}" />
								</td>
							</tr>
							<tr>
								<td class="text-right">
									createdBy:
								</td>
								<td class="" th:text="${maObject.createdBy}">
								</td>
							</tr>
							<tr>
								<td class="text-right">
									dateCreated:
								</td>
								<td class="" th:text="${maObject.dateCreated}">
								</td>
							</tr>
							<tr>
								<td class="text-right">
									updatedBy:
								</td>
								<td class="" th:text="${maObject.updatedBy}">
								</td>
							</tr>
							<tr>
								<td class="text-right">
									dateCreated:
								</td>
								<td class="" th:text="${maObject.dateUpdated}">
								</td>
							</tr>
							<tr>
								<td class="text-right">
									&nbsp;
								</td>
								<td class="">
									<input type="submit" class="btn btn-primary my-primary" value="Submit" />
								</td>
							</tr>								
						</tbody>
					</table>
				</form>
			</div><!--./bs-callout -->
		</div><!--./col-xl-10 -->	
	</div><!--./row -->
	
			
</div><!-- ./container -->
<!-- ### CONTENT ( END ) ####################################################### -->
</div><!-- ./layout:fragment -->
	
</body>

</html>