<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/layoutDefault">

<head>
    <meta charset="utf-8" />       
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   
	<title>Jmate:Object:List</title>
</head>

<body>

<div layout:fragment="frag-body-content">
<!-- ### CONTENT (BEGIN) ####################################################### -->
<div class="container" style="height:800px;">

	<hr/>

	<div class="bs-callout bs-callout-info" style="box-shadow: 2px 2px #DDDDDD;">

		<table class="table">
			<thead class="">
				<tr>
					<th class="text-center">id</th>
					<th class="text-center">timestamp</th>
					<th class="text-center">object name</th>
					<th class="text-center">base table</th>
					<th class="text-center">updated by</th>
					<th class="text-center">task</th>
				</tr> 
			</thead>
			<tbody>
				<tr th:each="v:${maListObject}">
					<td th:text="${v.tmObjectId}" class="text-center"></td>
					<td th:text="${v.dateUpdated}" class="text-center"></td>
					<td th:text="${v.objectName}" class="text-center"></td>
					<td th:text="${v.baseTable}" class="text-center"></td>
					<td th:text="${v.updatedBy}" class="text-center"></td>					
					<td class="text-right">
						<a th:href="@{/jmate/object/edit/}+${v.tmObjectId}" class="btn btn-primary my-primary my-btn-w-120">Detail</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div><!-- ./bs-callout -->
			
</div><!-- ./container -->
<!-- ### CONTENT ( END ) ####################################################### -->
</div><!-- ./layout:fragment -->
	
</body>

</html>