<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/layoutDefault">

<head>
    <meta charset="utf-8" />       
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   
	<title>Jmate:SrchList:Edit</title>
</head>

<body>

<div layout:fragment="frag-body-content">
<!-- ### CONTENT (BEGIN) ####################################################### -->
<div class="container">

	<hr/>
	
	<div class="row">
		
		<div class="col-lg-3">
			<div class="card">
				<div class="card-header text-center">
					object info (base table)
				</div><!-- ./coard-header -->
				<div class="card-body">				
					<table class="table table-sm">
					<tbody>
						<tr>
							<td class="text-right" width="45%">object:</td>
							<td class="text-left" th:text="${maObject.objectName}" width="55%"></td>
						</tr>
						<tr>
							<td class="text-right" width="45%">base table:</td>
							<td class="text-left" th:text="${maObject.baseTable}" width="55%"></td>
						</tr>
					</tbody>
					</table>
					
					<div class="text-center">
						<button id="btInitLoad" class="btn btn-sm btn-primary my-primary my-btn-w-160" th:attr="data-id=${maObject.tmObjectId}">init load</button>
					</div>
					
					<br/>
					
					<div class="text-center">
						column desc.
					</div>
					
					<table class="table table-sm">
					<tbody>
						<tr th:each="v:${maPgColumn}">
							<td width="20%" class="text-center" th:text="${v.ordPosition}+'.'"></td>
							<td width="80%" class="text-left"><span th:text="${v.colName}"></span><br/><span th:text="${v.DataType}"></span></td>
						</tr>
					</tbody>
					</table>
				</div><!-- cord-body -->
			</div>		
		</div><!--./col-lg-3 -->
		
		<div class="col-lg-4">
			<div class="card">
				<div class="card-header text-center">
					serach list catalog (base table)
				</div><!-- ./coard-header -->
				<div class="card-body">
					<table class="table table-sm table-hover">
					<thead>
						<tr>
							<td width="10%" class="text-center">order</td>
							<td width="80%" class="text-center">column / label</td>							
							<td width="10%" class="text-center">edit</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="v:${maSrchList}">
							<td class="text-center">
								<a th:href="@{/jmate/srchlist/obj/}+${v.tmObjectId}+'/item/'+${v.tmListId}" th:text="${v.dispOrderNo}"></a><br/>								
							</td>
							<td class="text-left">
								<span th:text="${v.columnName}"></span>
								: <span th:text="${v.dispText}"></span><br/>
								* <span th:text="${v.columnType}"></span>
							</td>
							<td class="text-center">
								<a th:href="@{/jmate/srchlist/obj/}+${v.tmObjectId}+'/item/'+${v.tmListId}+'/edit'">edit</a>
							</td>
						</tr>
					</tbody>
					</table>
					<hr/>							
				</div><!-- ./card-body -->
			</div><!-- ./card -->	
		</div><!--./col-lg-5 -->	

		<div class="col-lg-5">
			<div class="card">
				<div class="card-header text-center">
					edit search list item
				</div><!-- ./card-header -->
				<div class="card-body">
					<table class="table table-sm">
						<thead>
							<tr>
								<td width="25%" class="text-center">item</td>
								<td width="75%" class="text-center">description</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-right">
									tm_list_id:
								</td>
								<td th:text="${maSrchListItem.tmListId}">
								</td>
							</tr>
							<tr>
								<td class="text-right">
									tm_object_id:
								</td>
								<td th:text="${maSrchListItem.tmObjectId}">									
								</td>
							</tr>
							<tr>
								<td class="text-right">
									disp_order_no:
								</td>
								<td th:text="${maSrchListItem.dispOrderNo}">									
								</td>
							</tr>
							<tr>
								<td class="text-right">
									table_name:
								</td>
								<td th:text="${maSrchListItem.tableName}">									
								</td>
							</tr>
																												<tr>
								<td class="text-right">
									column_name:
								</td>
								<td th:text="${maSrchListItem.columnName}">									
								</td>
							</tr>
							<tr>
								<td class="text-right">
									column_type:
								</td>
								<td th:text="${maSrchListItem.columnType}">									
								</td>
							</tr>
							<tr>
								<td class="text-right">
									disp_text:
								</td>
								<td th:text="${maSrchListItem.dispText}">									
								</td>
							</tr>
							<tr>
								<td class="text-right">
									disp_opt_width:
								</td>
								<td th:text="${maSrchListItem.dispOptWidth}">
								</td>
							</tr>
							<tr>
								<td class="text-right">
									srch_yn:
								</td>
								<td th:text="${maSrchListItem.srchYn}">
								</td>
							</tr>
							<tr>
								<td class="text-right">
									srch_fmt:
								</td>
								<td th:text="${maSrchListItem.srchFormat}">
								</td>
							</tr>
							<tr>
								<td class="text-right">
									cmd_key_yn:
								</td>
								<td th:text="${maSrchListItem.cmdKeyYn}"> 
								</td>
							</tr>														
							<tr>
								<td class="text-right">
									cmd:
								</td>
								<td th:text="${maSrchListItem.cmd}">
								</td>
							</tr>														
							<tr>
								<td class="text-right">
									*status:
								</td>
								<td th:text="${maSrchListItem.status}">
								</td>
							</tr>														
							<tr>
								<td class="text-right">
									*note:
								</td>
								<td th:text="${maSrchListItem.note}">
								</td>
							</tr>														
							<tr>
								<td class="text-right">
									*createdBy:
								</td>
								<td th:text="${maSrchListItem.createdBy}">
								</td>
							</tr>														
							<tr>
								<td class="text-right">
									*dateCreated:
								</td>
								<td th:text="${maSrchListItem.dateCreated}">									
								</td>
							</tr>														
							<tr>
								<td class="text-right">
									*updatedBy:
								</td>
								<td th:text="${maSrchListItem.updatedBy}">
								</td>
							</tr>														
							<tr>
								<td class="text-right">
									*dateUpdated:
								</td>
								<td th:text="*{dateUpdated}">									
								</td>
							</tr>														
						</tbody>
					</table>
				</div><!-- ./card-body -->
			</div><!-- card -->
		</div><!--./col-lg-5 -->	

	</div><!--./row -->
				
</div><!-- ./container -->

<!-- ### SCRIPT (BEGIN) ####################################################### -->	
<script th:inline="javascript">
/*<![CDATA[*/

$("#btInitLoad").click(function() {
	var vConfirm = confirm("Are you sure?");
	
	if(vConfirm==true) {
		var varCtxUrl = [[@{/jmate/srchlist/initload/obj/}]];
		$(location).attr("href",varCtxUrl + $("#btInitLoad").attr("data-id"));
	}
	
});	
	
/*]]>*/	
</script>	
<!-- ### SCRIPT ( END ) ######################################################## -->	

<!-- ### CONTENT ( END ) ####################################################### -->
</div><!-- ./layout:fragment -->
	
</body>

</html>