<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/layoutDefault">

<head>
    <meta charset="utf-8" />       
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   
	<title>home</title>
</head>

<body>

<div layout:fragment="frag-body-content">
<!-- ### CONTENT (BEGIN) ####################################################### -->
<div class="container" style="height:600px;">
	
	<hr class="mt-5"/>
	<br/>
	<div class="row">
	
        <div class="col-lg-12">
            <div class="text-center">
                <h1>
                    Oops!
				</h1>
                <h2>
                    System / Req. Errors
				</h2>
                <div class="error-details">
                    Sorry, Requested page not work!	                    
                </div>
                <br/>
                <div class="error-actions">

                    <button id="btnBack"  class="btn btn-success" style="width:150px;">
                    	<span class="fa fa-arrow-circle-left"></span> 
                    	Take Me Back 
                    </button>

                    <a href="" th:href="@{/}" class="btn btn-primary my-primary" style="width:150px;">
                    	<span class="fa fa-home"></span>
                        Go Home 
                    </a>
                </div>
            </div>
        </div>

	</div><!-- ./row -->	
	<br/>
	<hr/>
	
<!-- ### SCRIPT (BEGIN) ################################################## -->
<script th:inline="javascript">
/*<![CDATA[*/


$("#btnBack").click(function() {
	window.history.back();
});

/*]]>*/	
</script>
<!-- ### SCRIPT (BEGIN) ################################################## -->	
	
	
	
</div><!-- ./container -->
<!-- ### CONTENT ( END ) ####################################################### -->
</div><!-- ./layout:fragment -->
	
</body>

</html>