<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   	       
	<title>Top Menu</title>			
</head>
<body>

<!-- ### th:fragment (BEGIN) ###################################################### -->

<div th:fragment="frag-top-textline" class="container">
	<div class="row" style="margin-top:20px;">
		<div class="col-3 text-left" style="padding-top:20px; padding-bottom:10px;">
			contact			
		</div>
		<div class="col-6 text-center" style="padding-top:10px;padding-bottom:10px;">
			<h2>
				<b>Springboot + Bootstrap + Ubuntu</b>
			</h2>
		</div>
		<div class="col-3 text-right" style="padding-top:10px; padding-bottom:10px;">
			<a href="" class="btn btn-sm btn-outline-primary">sign in</a>
		</div>
	</div>
</div>

<!-- Navigation -->
 
<nav th:fragment="frag-top-menu" class="navbar navbar-expand-sm navbar-dark sticky-top my-primary" >
	<div class="container text-right">		
		
		<a class="navbar-brand" href="" th:href="@{/}" style="font-size:16px;">Jboot2018</a>
		
		<ul class="navbar-nav">
		
			<li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Jmate.Tool</a>			
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/jmate/object/list}">1.Object</a>					
				</div>
			</li>
			<li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Jmate.Service</a>			
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/jm/svc/list/2}">2.bbs</a>					
				</div>
			</li>				
			<li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Postgres</a>			
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/pg/example/list}">1.Basic CRUD</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="#">top-menu2</a>			
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="#">기본메뉴</a>			
			</li>
			<li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">drop menu 1</a>
				<div class="dropdown-menu">
					<a class="dropdown-item">drop 1</a>
					<a class="dropdown-item">drop 2</a>
					<a class="dropdown-item">drop 13</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
 
<!-- ### th:fragment ( END ) ###################################################### -->

</body>
</html>