@charset "UTF-8";

@font-face {
	font-family: kr-bn-serif;
	src: url('./../font/kr-bn-serif-semi-bold.woff') format('woff');
}

.ubuntu {
	font-family: 'Ubuntu', sans-serif;
}

.kr-nanum-gothic {
	font-family: 'Nanum Gothic', sans-serif;
}

.kr-bn-serif {
	font-family: 'kr-bn-serif', sans-serif;	
	font-weight: 700;
}

html, body {
	font-family: 'Open Sans','Gulim','kr-bn-serif','Nanum Gothic',sans-serif;
	font-size: 14px;
}

.my-primary {
  	color: #ffffff;
  	background-color: #337ab7;
  	border-color: #2e6da4;
  	font-weight:400;
}

.my-btn-w-120 {
	width:100px;
}

.my-btn-w-160 {
	width:160px;
}

.carousel-item {
  	height: 450px;
  	width: 100%;
}

.carousel-item > img {
	width: 100%;	
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.table.no-border tr td, .table.no-border tr th {
  border-width: 0;
}

.bs-callout {
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code {
	border-radius: 3px;
}

.bs-callout+.bs-callout {
	margin-top: -5px;
}

.bs-callout-default {
	border-left-color: #777;
}

.bs-callout-default h4 {
	color: #777;
}

.bs-callout-primary {
	border-left-color: #428bca;
}

.bs-callout-primary h4 {
	color: #428bca;
}

.bs-callout-success {
	border-left-color: #5cb85c;
}

.bs-callout-success h4 {
	color: #5cb85c;
}

.bs-callout-danger {
	border-left-color: #d9534f;
}

.bs-callout-danger h4 {
	color: #d9534f;
}

.bs-callout-warning {
	border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
	color: #f0ad4e;
}

.bs-callout-info {
	border-left-color: #5bc0de;
}

.bs-callout-info h4 {
	color: #5bc0de;
}