<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/layoutDefault">

<head>
    <meta charset="utf-8" />       
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   
	<title>Jmate:Object:List</title>
</head>

<body>

<div layout:fragment="frag-body-content">
<!-- ### CONTENT (BEGIN) ####################################################### -->
<div class="container" style="height:800px;">

	<hr/>

	<div>
		<a th:href="@{/jm/svc/obj/}+${maObjId}+'/edit/0'" class="btn btn-primary btn-sm my-primary my-btn-w-120">new</a>	
	</div>
	
	<br/>

	<form th:action="@{/jm/svc/list/}+${maObjId}+'/srch'" method="get">
		<table class="table">
			<thead class="">
				<tr>
					<td th:each="v:${maListCols}" class="text-center">
						<span th:text="${v.dispText}"></span>
					</td>
				</tr> 
			</thead>
			<tbody>				
				<tr>
					<td th:each="v:${maListCols}" class="text-center">
						<input class="form-control" type="text" th:name="${v.columnName}" />
					</td>
				</tr>
				
				<tr th:each="map:${maListMapResultSet}">
					<td th:each="v:${map}" class="text-center">
						<div th:if="${v.key}==${maKeyCol.columnName}" class="text-center">
							<a th:href="@{/jm/svc/obj/}+${maObjId}+'/edit/'+${v.value}" th:text="${v.value}" ></a>
						</div>
						<div th:if="${v.key}!=${maKeyCol.columnName}">
							<span th:text="${v.value}"></span>
						</div>													
					</td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="Search" />
	</form>
				
</div><!-- ./container -->
<!-- ### CONTENT ( END ) ####################################################### -->
</div><!-- ./layout:fragment -->
	
</body>

</html>