<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/layoutDefault">

<head>
    <meta charset="utf-8" />       
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   
	<title>Jmate:Object</title>
</head>

<body>

<div layout:fragment="frag-body-content">
<!-- ### CONTENT (BEGIN) ####################################################### -->
<div class="container">

	<hr/>
	
	<div class="row">
		
		<div class="col-lg-2">
		
		</div><!--./col-lg-2 -->
		
		<div class="col-lg-10">

				<form  class="form" action="" method="post"  >				
					<table class="table table-sm">
						<thead>
							<tr>
								<th class="text-center w-25">
									item
								</th>
								<th class="text-center w-75">
									description
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="v:${maEditCols}">
								<td class="text-right" th:text="${v.dispText}">
								</td>
								<td class="">
									<input type="text" class="form-control" th:name="${v.columnName}" />								
								</td>
							</tr>
							<tr>
								<td class="text-right">
									&nbsp;
								</td>
								<td class="">
									<input type="submit" class="btn btn-primary my-primary" value="Submit" />
								</td>
							</tr>								
						</tbody>
					</table>
				</form>

		</div><!--./col-xl-10 -->	
	</div><!--./row -->
	
			
</div><!-- ./container -->
<!-- ### CONTENT ( END ) ####################################################### -->
</div><!-- ./layout:fragment -->
	
</body>

</html>