<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/layoutDefault">

<head>
    <meta charset="utf-8" />       
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   
	<title>home</title>
</head>

<body>

<div layout:fragment="frag-body-content">
<!-- ### CONTENT (BEGIN) ####################################################### -->
<div class="container">

	<hr/>
	
	<div class="row">
		
		<div class="col-lg-2">
			<div class="list-group">
				<a class="list-group-item list-group-item-action list-group-item-secondary text-center">detail</a>
				<a th:href="@{/pg/example/list}" class="list-group-item list-group-item-action">list</a>
				<a th:href="@{/pg/example/edit/0}" class="list-group-item list-group-item-action">new</a>
				<a th:href="@{/pg/example/edit/}+${maExample.egMasterId}" class="list-group-item list-group-item-action">edit</a>
				<a th:href="@{/pg/example/delete/}+${maExample.egMasterId}" class="list-group-item list-group-item-action">delete</a>
			</div>
			<br/>
		</div><!--./col-xl-2 -->
		
		<div class="col-lg-10">
			<div class="bs-callout bs-callout-primary py-0" style="box-shadow: 2px 2px #DDDDDD;">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="text-center w-25">
								item
							</th>
							<th class="text-center w-75">
								description
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-right">
								eg_master_id:
							</td>
							<td class="" th:text="${maExample.egMasterId}">								
							</td>
						</tr>
						<tr>
							<td class="text-right">
								col_int:
							</td>
							<td class="" th:text="${maExample.colInt}">
							</td>
						</tr>
						<tr>
							<td class="text-right">
								col_money:
							</td>
							<td class="" th:text="${maExample.colMoney}">
							</td>
						</tr>						
						<tr>
							<td class="text-right">
								col_varchar:
							</td>
							<td class="" th:text="${maExample.colVarchar}">
							</td>
						</tr>
						<tr>
							<td class="text-right">
								col_text:
							</td>
							<td class="" th:text="${maExample.colText}">								
							</td>
						</tr>
						<tr>
							<td class="text-right">
								col_date:
							</td>
							<td class="" th:text="${maExample.colDate}">
								
							</td>
						</tr>
						<tr>
							<td class="text-right">
								col_timestamp:
							</td>
							<td class="" th:text="${maExample.colTimestamp}">
							</td>
						</tr>

					</tbody>
				</table>
			</div><!--./bs-callout -->
		</div><!--./col-xl-10 -->	
	</div><!--./row -->
	
			
</div><!-- ./container -->
<!-- ### CONTENT ( END ) ####################################################### -->
</div><!-- ./layout:fragment -->
	
</body>

</html>