<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/layoutDefault">

<head>
    <meta charset="utf-8" />       
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   
	<title>home</title>
</head>

<body>

<div layout:fragment="frag-body-content">
<!-- ### CONTENT (BEGIN) ####################################################### -->
<div class="container">

	<hr/>
	
	<div class="row">
		
		<div class="col-lg-2">
			<div class="list-group">
				<a class="list-group-item list-group-item-action list-group-item-secondary text-center">detail</a>
				<a th:href="@{/pg/example/list}" class="list-group-item list-group-item-action">list</a>
				<a th:href="@{/pg/example/edit/0}" class="list-group-item list-group-item-action">edit</a>
				<a th:href="@{/pg/example/edit/}+${maExample.egMasterId}" class="list-group-item list-group-item-action">edit</a>
				<a th:href="@{/pg/example/delete/}+${maExample.egMasterId}" class="list-group-item list-group-item-action">delete</a>
			</div>
			<br/>
		</div><!--./col-xl-2 -->
		
		<div class="col-lg-10">
			<div class="bs-callout bs-callout-primary py-0" style="box-shadow: 2px 2px #DDDDDD;">
				<form th:object="${maExample}" th:action="@{/pg/example/edit/}+${maExample.egMasterId}" class="form" action="" method="post"  >				
					<table class="table">
						<thead>
							<tr>
								<th class="text-center w-25">
									item
								</th>
								<th class="text-center w-75">
									description
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-right">
									eg_master_id:
								</td>
								<td class="">
									<input type="text" class="form-control" th:field="*{egMasterId}" readonly="true" />								
								</td>
							</tr>
							<tr>
								<td class="text-right">
									col_int:
								</td>
								<td class="">
									<input type="text" class="form-control" th:field="*{colInt}" />
								</td>
							</tr>
							<tr>
								<td class="text-right">
									col_money:
								</td>
								<td class="">
									<input type="text" class="form-control" th:field="*{colMoney}" />
								</td>
							</tr>						
							<tr>
								<td class="text-right">
									col_varchar:
								</td>
								<td class="">
									<input type="text" class="form-control" th:field="*{colVarchar}" />
								</td>
							</tr>
							<tr>
								<td class="text-right">
									col_text:
								</td>
								<td class="">
									<textarea rows="4" class="form-control" th:field="*{colText}" />								
								</td>
							</tr>
							<tr>
								<td class="text-right">
									col_date:
								</td>
								<td class="" th:text="${maExample.colDate}">
								</td>
							</tr>
							<tr>
								<td class="text-right">
									col_timestamp:
								</td>
								<td class="" th:text="${maExample.colTimestamp}">
								</td>
							</tr>
							<tr>
								<td class="text-right">
									&nbsp;
								</td>
								<td class="">
									<input type="submit" class="btn btn-primary my-primary" value="Submit" />
								</td>
							</tr>								
						</tbody>
					</table>
				</form>
			</div><!--./bs-callout -->
		</div><!--./col-xl-10 -->	
	</div><!--./row -->
	
			
</div><!-- ./container -->
<!-- ### CONTENT ( END ) ####################################################### -->
</div><!-- ./layout:fragment -->
	
</body>

</html>