<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/layoutDefault">

<head>
    <meta charset="utf-8" />       
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   
	<title>home</title>
</head>

<body>

<div layout:fragment="frag-body-content">
<!-- ### CONTENT (BEGIN) ####################################################### -->
<div class="container" style="height:800px;">

	<hr/>

	<div class="bs-callout bs-callout-info py-0" style="box-shadow: 2px 2px #DDDDDD;">
		<form id="frmQry" action="" method="get" class="form text-right">
			<table class="table py-0 my-2">
				<tr>
					<td width="20%" class="text-left" style="border-top:0px;">
						<a class="btn btn-primary  my-primary my-btn-w-120" th:href="@{/pg/example/edit/0}">New</a>
					</td>
					<td width="30%" class="text-left" style="border-top:0px;">
						&nbsp;
					</td>					
					<td width="45%" class="text-right" style="border-top:0px;">
						<input class="form-control" type="text" />
					</td>
					<td width="5%" class="text-right" style="border-top:0px;">
						<button class="btn btn-primary  my-primary my-btn-w-120">Search</button>
					</td>
				</tr>
			</table>
		</form>				
	</div><!-- ./bs-callout -->


	<div class="bs-callout bs-callout-info" style="box-shadow: 2px 2px #DDDDDD;">

		<table class="table">
			<thead class="">
				<tr>
					<th class="text-center">id</th>
					<th class="text-center">timestamp</th>
					<th class="text-center">varchar</th>
					<th class="text-center">task</th>
				</tr> 
			</thead>
			<tbody>
				<tr th:each="v:${maList}">
					<td th:text="${v.egMasterId}" class="text-center"></td>
					<td th:text="${v.colTimestamp}" class="text-center"></td>
					<td th:text="${v.colVarchar}" class="text-center"></td>
					<td class="text-right">
						<a th:href="@{/pg/example/}+${v.egMasterId}" class="btn btn-primary my-primary my-btn-w-120">Detail</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div><!-- ./bs-callout -->
			
</div><!-- ./container -->
<!-- ### CONTENT ( END ) ####################################################### -->
</div><!-- ./layout:fragment -->
	
</body>

</html>